!README.md
!tool.sh
!nek/
nek/*
!refs/
refs/*
!miranta/
miranta/*
!miranta/RNA/
miranta/RNA/*
!miranta/RNA/rna_seq_miranta.sh
!nek/RNA_seq/
nek/RNA_seq/*
!nek/RNA_seq/rna_seq.sh
!nek/ATAC_seq/
nek/ATAC_seq/*
!nek/ATAC_seq/atac_seq.sh
!refs/scripts/
refs/scripts/*
!refs/scripts/KallistoIndexGen.sh
!refs/scripts/STARIndexGen.sh
!miranta/RNA/comprna/
miranta/RNA/comprna/*
!miranta/RNA/comprna/RNA1MIRANTAWT1.log2ratio.bw
ATAC_data/
KOvsWT.complete.txt
manolis/
